@font-face {
    font-family: 'Krasar';
    src: url('font/KRASAR-REGULAR.TTF') format('truetype'),
    url('font/KRASAR-BOLD.TTF') format('truetype');
}

.marquee {
    margin: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10000px;
    background: linear-gradient(90deg, rgba(73, 64, 255, 1) 0%, rgba(171, 28, 255, 1) 100%);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}
.parent_container{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 12px 12px 0px 0px;
}
.marquee p {
    font-family: Krasar;
    margin: 0;
    padding: 25px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.container {
    max-width: 90%;
    margin: auto;
}

body {
    background-color: #111b28;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Krasar;
}

.menu {
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(73, 64, 255, 1) 0%, rgba(171, 28, 255, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    margin: auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
@media (max-width: 767px) {
    .menu{
        display: flex;
        flex-direction: column;

    }
    .main_menu{
        margin-bottom: 20px;
    }
    .footer_container{
        display: flex;
        /*flex-wrap: wrap;*/
        flex-direction: column;
    }
    .product_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


.main_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main_menu li a {
    text-decoration: none;
    color: white;
    padding: 3px 15px;
    font-size: 18px;
    font-weight: bold;
    margin-right: -12px;
    transition: transform 0.2s ease;
}
.signin_img{
    display: flex;
    align-items: center;

}
.sign_in_icon {
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #111b28;
    transition:background-color  0.2s ease;
}
.sign_in_icon:hover {
    background-color: orangered;
}
.signin_img a {
    text-decoration: none;
    color: white;
    padding: 3px 15px;
    font-size: 18px;
    font-weight: bold;
    margin-right: -12px;
    transition: transform 0.2s ease;
}

.main_menu li a:hover {
    /*background: -webkit-linear-gradient(90deg, rgba(64, 68, 255, 1) 0%, rgba(255, 28, 136, 1) 100%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*background-color: white;*/
    color: black;
    border-radius: 8px;
    font-size: 18px;
}

.logo {
    display: flex;
    align-items: center;

    h2 {
        color: white;
    }
}

.cover_website {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin-top: 90px;
}

.cover_img img {
    width: 450px;
    border-radius: 35px;
    margin-top: 20px;
}

.btn {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn li {
    list-style: none;
    transition: transform 0.2s ease;
}

.btn li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
    background: #655efa;
    box-shadow: 0 4px 15px rgba(73, 64, 255, 0.2);
}

.btn li:hover {
    background: #4338ca;
    box-shadow: 0 4px 15px rgba(67, 56, 202, 0.2);
    transform: translateY(-5px);
    border-radius: 14px;
}

.cart img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
}

.cart {
    background-color: white;
    width: 250px;
    height: 350px;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.2s ease;
}

.cart:hover {
    transform: translateY(-15px);
}

.btn_buy button a {
    text-decoration: none;
    color: white;
}

.btn_buy button {
    border-radius: 14px;
    cursor: pointer;
    font-family: Krasar;
    font-weight: bolder;
    font-size: 14px;
    border: none;
    background: #655efa;
    box-shadow: 0 4px 15px rgba(73, 64, 255, 0.2);
    padding: 14px 20px;
    width: 300px;
}

.btn_buy img {
    margin-left: 10px;
    border-radius: 14px;
    cursor: pointer;
    background: #655efa;
    box-shadow: 0 4px 15px rgba(73, 64, 255, 0.2);
    padding: 5px 12px;
    transition: transform 0.2s ease;
}

.btn_buy img:hover {

    background: #4338ca;
    box-shadow: 0 4px 15px rgba(67, 56, 202, 0.2);
    transform: translateY(-4px);
    border-radius: 14px;
}

.btn_buy button:hover {

    background: #4338ca;
    box-shadow: 0 4px 15px rgba(67, 56, 202, 0.2);
    transition: all 0.3s ease;
    transform: translateY(-4px);
    border-radius: 14px;
}

.product_container {
    height: auto;
    /*background-color: white;*/
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    align-items: center;
}

.header_cart p {
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

.header_cart h2 {
    letter-spacing: 0.2px;
    font-size: 16px;
}

.btn_login {
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    transition: transform 0.3s ease;
    margin-left: 10px
}
.btn_login a{
    text-decoration: none;
    color: black;
}

.btn_login:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/*footer*/
.parent_footer {
    height: 350px;
    background-color: ghostwhite;
    border-radius: 0px 0px 12px 12px;
}

.footer_container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: white;
    padding: 40px 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.logo h3 {
    color: black;
    margin-left: 10px;
    font-size: 30px;
    transition: transform 0.2s, color 0.2s ease;
}

.logo h3:hover {
    transform: translateX(8px);
    color: orange;
    cursor: pointer;
}

.main_footer {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.menu_type a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 1.8;
    font-weight: bold;
    transition: transform 0.2s, color 0.2s ease;
}

.menu_type a:hover {
    transform: translateX(8px);
    color: orange;
}

.menu_type p {
    font-weight: bold;
}

.menu_type h4 {
    font-size: 20px;
    text-transform: uppercase;
    color:black;
}

.contact_child {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;

    img {
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        width: 12px;
        height: 12px;
    }
}

.copy_right {
    text-align: center;
    color: gray;
    margin-top: 30px;
}
/*footer*/